<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheet.css') }}">
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
  </head>
	<body>
        <div class = "sidebar-left">
            <p></p>
        </div>
        <div class = "main">
			<div class = "top-bar">
                <button onclick = "window.location.href = '/';" id = "back-button">〈</button>
				<div id="top-title">Allergenius</div>
                <button onclick = "window.location.href = '/';" id = "back1-button">〈</button>
			</div>	
			<div class="container-other">
				<h2 id="friends-title">Friends</h2>

                <div id="friend1">
                    <div id = "friend-profile-picture">
                        <img src="/static/user.png" id = "friends-page-img">
                    </div>
                    <div id = "friend-description-box">
                        <p id="friend1-name">Lorem Ipsum</p>
                        <p id="friends-desc">text text text</p>
                    </div>
                </div>

                <div id="friend2">
                    <div id = "friend-profile-picture">
                        <img src="/static/user.png" id = "friends-page-img">
                    </div>
                    <div id = "friend-description-box">
                        <p id="friend2-name">Dolor Sit Amet</p>
                        <p id="friends-desc">text text text</p>
                    </div>
                </div>

                <div id="friend3">
                    <div id = "friend-profile-picture">
                        <img src="/static/user.png" id = "friends-page-img">
                    </div>
                    <div id = "friend-description-box">
                        <p id="friend3-name">Consectetur Adipiscing-Elit</>
                        <p id="friends-desc">text text text</p>
                    </div>
                </div>

                <div id="friend4">
                    <div id = "friend-profile-picture">
                        <img src="/static/user.png" id = "friends-page-img">
                    </div>
                    <div id = "friend-description-box">
                        <p id="friend4-name">Sed-Do Eiusmod</p>
                        <p id="friends-desc">text text text</p>
                    </div>
                </div>
            </div>
            <div class = "sidebar-right"></div>
        </div>
	</body>
</html>

