<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheet.css') }}">
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
  </head>
	<body>
    <div class = "sidebar-left">
      <p></p>
    </div>
		<div class = "main">
			<div class = "top-bar">
                <button onclick = "window.location.href = '/';" id = "back-button">〈</button>
				<div id="top-title">Allergenius</div>
                <button onclick = "window.location.href = 'settings';" id = "settings-button">⚙</button>
			</div>	
			<div class="container-index">
                <div id = "map-box">
    				<img src="static/static_map2.png" id="map-img" alt="map image">
{#                    <span>placeholder</span>#}
                </div>
        <div class="map-block">
          <div id="search-box">
            <input type="text" placeholder="Search..." id = "search-input">
            <button onclick = "exampleQuery()" id = "search-button">⌕</button>
          </div>
            <button onclick = "window.location.href = 'filter';" id = "filter-button"> Filter </button>
        </div>
			</div>
      <div class = "button-bar">
        <button onclick = "window.location.href = 'friends';" id = "friends-button"><img src="static/friends.png" id="friends-img"></button>
        <button onclick = "window.location.href = 'account';" id = "account-button"><img src="static/account.png" id="account-img"></button>
      </div>  
		</div>
    <div class = "sidebar-right">
      <p></p>
    </div>
	</body>
</html>

