<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheet.css') }}">
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
  </head>
	<body>
		<div class = "sidebar-left">
            <p></p>
        </div>
        <div class = "main">
			<div class = "top-bar">
                <button onclick = "window.location.href = '/';" id = "back-button">〈</button>
				<div id="top-title">Allergenius</div>
                <button onclick = "window.location.href = '/';" id = "back1-button">〈</button>
			</div>	
			<div class="container-other">
                <div>Placeholder</div>
			</div>	
		</div>
		<div class = "sidebar-right">
      <p></p>
    </div>
	</body>
</html>

