<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheet.css') }}">
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
  </head>
	<body>
        <div class = "sidebar-left">
            <p></p>
        </div>
		<div class = "main">
			<div class = "top-bar">
                <button onclick = "window.location.href = '/';" id = "back-button">〈</button>
				<div id="top-title">Allergenius</div>
                <button onclick = "window.location.href = '/';" id = "back1-button">〈</button>
			</div>	
			<div class="container-other">
				<h2 id="settings-title">Settings</h2>
                <div class = "view-setting">
                    <label>
                        <input type="radio" id="map-view" name="map-list-view" checked value=0 /><span>Map View</span>
                    </label>
                    <label>
                        <input type="radio" id="list-view" name="map-list-view" value=1 /><span>List View</span>
                    </label>
                </div>
			</div>
		</div>
		<div class = "sidebar-right">
      <p></p>
    </div>
	</body>
</html>

